#bottom {
	text-align: center;
	font-size: .8em;
 }

.sidebar-left {
	max-width: 180px;
	height: 100%;
	/*border-right: solid 1px #4e5d6c;*/
}

.friendly {
	display: inline-block;
}

#concert2, #concert1, #parlor {
	display: none;
}

#guitar-sidenav {
	min-width: 100px;
}

#home-jumbotron {
	max-width: 800px;
}
.thumbnail-special {
	cursor: pointer;
	max-height: 150px;
	margin: 5px;
}

.titles {
	text-align: center;
}
.verticalline {
	border-right: thick solid #ff0000;
}