

#mainnav{

	margin-left: 20%

}

.border {

  border: 1px solid; 

}

.verticalline {

	border-right: 1px solid;

}



body {

    background-image: url(../images/wtbackground.jpg);

    background-repeat: repeat-y repeat-x;

}



#bottom {

	text-align: center;

	font-size: .8em;

 }



.sidebar-left {

	max-width: 180px;

	height: 100%;

	/*border-right: solid 1px #4e5d6c;*/

}



.friendly {

	display: inline-block;

}




#guitar-sidenav {

	min-width: 100px;

}



#home-jumbotron {

	max-width: 800px;

}

.thumbnail-special {

	cursor: pointer;

	max-height: 150px;

	margin: 5px;

}



.titles {

	text-align: center;

}

.updatelist {

	list-style: none;

}

.speclist {

	list-style: none;

}

#featuredcimg {

	display: block;

    margin-left: auto;

    margin-right: auto;

}

.orderingoptionslist {

	list-style: none;

	float: left;

	border-radius: 5px;

	width:100%;

}

#bodypics {

	padding-right: 20px;

}

#orderingcontainer {

	width: 100%;

	margin: 0;

}	

#buildsummary {

	border: 1px solid #c0c0c0;

	border-radius: 5px;

	margin-bottom: 3%;

	min-width: 338px;

}



#choosebodystyle {

	cellpadding: 20px 20px 20px 80px;

	border-radius: 5px;

}

.bodythumbs {

	padding-right: 5px;

	padding-left: 5px;

}

#cutaway {

	padding-right:5%;

}

.splits {

	border-bottom: 1px solid #c0c0c0;

}



#contactlist{ 

	list-style: none;

	}



.bs-wizard {margin-top: 40px;}






}




.pagerspacer {

	margin-top:2%;

}

#gotit {

	padding-left: 4%;

}



.ukeSummaryOption {

	font-weight: bold;

}



.opacity{

	color:#D8E0E8;

}

.top-margin {
	margin-top: 5px;
}

.lightbox-top-margin {
	margin-top: 15%;
}

.cursor {
    cursor: pointer;
}