#bottom {
	text-align: center;
	font-size: .8em;
 }

.sidebar-left {
	max-width: 180px;
	/*border-right: solid 1px #4e5d6c;*/
}

.friendly {
	display: inline-block;
}

#concert2, #concert1, #parlor {
	display: none;
}

#guitar-sidenav {
	min-width: 100px;
}

#background-overlay {
	background-color: darkgray;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: .5;
}

#home-jumbotron {
	max-width: 800px;
}